@import "../../asserts/fonts.css";
@import "../../asserts/fontawesome-free/css/all.css";

body {
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #191919;
    background-image: url(../../asserts/images/body.png);
    background-clip: border-box;
    background-origin: padding-box;
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: auto;
    background-position: left top;
}

body .btn,input {
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

#container {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #333;
    color: #989898;
    min-height: 100vh;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(198, 62, 74);
    color: white;
}

.search-input {
    text-align: center;
    color: rgb(198, 62, 74);
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    position: absolute;
}

#header {
    margin-bottom: 15px;
}

#container-body {
    padding: 5px;
    margin-top: 30px;
}

.form-group {
    position: relative;
    padding-top: 1.5rem;
}

label {
    position: absolute;
    top: 0;
    font-size: var(--font-size-small);
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(1rem);
}

* {box-sizing: border-box;}

/* Style the input container */
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

/* Style the form icons */
.icon {
    padding: 10px;
    background: rgb(198, 62, 74);
    color: white;
    min-width: 50px;
    text-align: center;
}

/* Style the input fields */
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    padding-left: 37px;
}

.input-field:focus {
    border: 2px solid rgb(198, 62, 74);
}

/* Set a style for the submit button */
.btn {
    background-color: rgb(198, 62, 74);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    max-width: 200px;
}

.btn:hover {
    opacity: 1;
}

.form-container {
    width: 49%;
    display: inline-block;
    padding-right: 15px;
}
.fuck-u-smile {
    width: 49%;
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;
    border-left: solid;
    border-color: rgb(198, 62, 74);
}

.btn {
    min-width: 150px;
}

.form-container h2,
.fuck-u-smile h2 {
    margin-bottom: 15px;
}

.search-input {

}