@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/HelveticaNeue.eot'); /* IE9 Compat Modes */
    src: url('fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/HelveticaNeue.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/HelveticaNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/HelveticaNeue.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    url('fonts/HelveticaNeue-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/HelveticaNeue-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/HelveticaNeue-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'HelveticaNeue-Light';
    url('fonts/HelveticaNeue-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/HelveticaNeue-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/HelveticaNeue-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}