<div id="eye-catch-sp">
    <img src="https://nobori.orilab.jp/wp-content/uploads/2017/09/payment-mv_sp.jpg"/>
</div>
<h3>のぼり旗の寿命（耐久性）について</h3>
<div class="payment_img">
    <p>約三ヶ月程度です。※環境によって異なります。</p>
    <p>1.生地にほつれが出てきます。</p>
    <p>2.生地の色あせが目立ってきます。</p>
    </br>
    <p>※夏場日差しが強い場所においている場合はこの限りではありません。</p>
    </br></br>
    <h3>色あせについて</h3>
    <div class="payment_img">
        <p>のぼり旗は使用時間が経過するにつれて徐々に色あせを起こしていきます。</br>
            色あせが確認できる様になるまでの目安を約3ヶ月と考えております。</br>（ご使用環境によって異なります）
            直射日光があたる、ロードサイドで排気ガスなどがかかってしまう場所では3ヶ月以下となる場合がございます。</br>
        </p>
    </div>
    <div id="text-pc">
        <h3>生地にほつれについて</h3>
        <div class="payment_img">
            <p>
                繊維でできているのぼり旗は必ずほつれ（破れ）が起きてしまいます。</br>
                設置場所でのぼり同士が擦れている、風が強い日に使用した場合などは１週間程でほつれがでる場合も多くございます。</br>
                </br></br>
                生地</br>
                ◆テトロンポンジ（ポリエステル100％）</br>
                街中で見かけるのぼりで使われている軽く、薄手の一般的な生地です。</br></br>
                【対応商品】</br>
                のぼり旗各種 横幕 簡易のれん タペストリー 手旗 バナースタンドなど</br></br>

                ◆トロマット（ポリエステル100％）</br>
                太い糸で作られた、丈夫な厚手の生地です。柔らかく小さく畳めるので持ち運びされる際には最適な素材です。</br>弊社の「屋外用バナースタンド」で使用されている生地です。</p>
            </br></br></br>

        </div>
    </div>
</div>