<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('upt-asserts/css/reset.css') }}" />
            {#<link rel="stylesheet" href="{{ asset('asserts/fonts.css') }}" />#}
            <link rel="stylesheet" href="{{ asset('upt-asserts/css/style.css') }}" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="container">

            {# HEADER INCLUDE START #}
            {% include "@UptViews/header.html.twig" %}
            {# HEADER INCLUDE END #}

            {# body START #}
            {% block body %}{% endblock %}
            {# body END #}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
