{% block header %}

    <div id="header">
        <div class="topnav">
            <a class="{{ active.home }}" href="{{ path('upt_home') }}">Home</a>
            <a class="{{ active.getId }}" href="{{ path('upt_get_id') }}">Get ID</a>
        </div>
    </div>

{% endblock %}