
{% block header %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Main web Site :)</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/upt">Go Upt</a></li>
        </ul>
        {#<button class="btn btn-danger navbar-btn">Button</button>#}
    </div>
</nav>
{% endblock %}
