{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('main-asserts-app/css/reset.css') }}" />
    <link rel="stylesheet" href="{{ asset('main-asserts-app/css/style.css') }}" />
    {{  parent() }}
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">

        </div>
    </div>
{% endblock %}
