{% extends "@UptViews/base.html.twig" %}

{% block body %}

    <div class="form-container">
        <form>
            <h2>Write Name of the Item</h2>
            <div class="input-container">
                <i class="fas fa-search search-input"></i>
                <input class="input-field" type="text" placeholder="Search String" name="searchString">
            </div>

            <button type="submit" class="btn">Register</button>
        </form>
    </div>

    <div class="fuck-u-smile">
        {% if (smileMessage is defined and smileMessage is not empty) %}
        <h2>Facts:</h2>
            <p>
                {{ smileMessage }}
            </p>
        {% endif %}
    </div>

    <div></div>

{% endblock %}